/* Body */

html{
  font-family: font-family: 'Roboto Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
  max-width: 850px;
  margin: 0 auto;
}

/* Header */

#header{
  font-family: 'Roboto Mono', monospace;
  position:fixed;
  width: 80%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1000;
}

.logo{
  width: 30vh;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  background-color: rgb(68, 66, 66);
  width: 50%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(43, 163, 172);
}

.active {
  background-color: #0a6e6e;
}


/* Form Section */

form{
  margin: 2% auto;
  text-align: center;
}

input{
  display: block;
  text-align: center;
  margin: 0.5% auto;
  width: 35%;
}

input[type="email"]{
  padding: 5px;
  border: 2px solid gray;
}

input[type="submit"]{
  padding: 5px;
  width: fit-content;
}

/* Main Section & Video */
main{
  margin-top: 15%;
}

h1, h3{
  text-align: center;
}

h1{
  font-family: 'Roboto Mono', monospace;
}

h3{
  font-family: 'Ubuntu', monospace;
  font-weight: 400;
}

iframe{
  display: block;
  margin: 0 auto;
}

/* Main Section - Item Selection */


/* Footer Section */


/* Media Queries */1
67+988