/* HTML and body */
html{
  font-family: 'Roboto Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
}


/* Header */
header{
    /*border: 2px solid red;*/
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 3em;
    width: 98%;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}

ul{
    margin: 0;
    padding: 0.75rem;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #484848;
}

li{
    display: inline;
    color: whitesmoke;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover{
    background-color: gray;
}

#header-img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    display: block;
}

/* Main Section*/
main{
    padding-top: 25%;
}

#description{
    text-align: center;
}

#description h1{
    text-transform: uppercase;
}

#form-section{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input[type="submit"]{
    width: 8rem;
    transition-duration: 1s;
    border: 2px solid black;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    padding: 5px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

input[type="submit"]:hover{
    background-color: goldenrod;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="email"]{
  max-width: 300px;
  width: 100%;
  padding: 6px;
  margin: 2% auto;
  border: 3px solid gray;
}


#video-section{
    margin: 2% auto;
}

#video{
    display: block;
    margin: 0 auto;
}

/* Footer */





/* Media Queries */
@media (max-width: 600px){
    ul{
        flex-flow: row wrap;
    }

    #header-img{
        display: none;
    }

    main{
        padding-top: 3rem;
    }

    #video-section{
        max-width: 100%;
    }

    #video{
        max-width: 100%;
    }
}

@media (min-width: 1020px){
    main{
        padding-top: 16%;
    }
}