/* Body */

html{
  font-family: font-family: 'Roboto Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
}

/* Header */

#header{
  font-family: 'Roboto Mono', monospace;
  position:fixed;
  width: 98%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1000;
}

.logo{
  width: 30vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(68, 66, 66);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(43, 163, 172);
}

.active {
  background-color: #0a6e6e;
}


/* Form Section */



/* Main Section & Video */
main{
  margin-top: 12%;
}

h1, h3{
  text-align: center;
}

h1{
  font-family: 'Roboto Mono', monospace;
}

h3{
  font-family: 'Ubuntu', monospace;
  font-weight: 400;
}

iframe{
  display: block;
  margin: 0 auto;
}

/* Main Section - Item Selection */


/* Footer Section */


/* Media Queries */1
67+988